
<div class="modal-body">
  <form #f="ngForm" id="addStock">

    <div class="form-group">
      <label for="nom">Team name</label>
      <input type="text" class="form-control" id="nom"  name="nom" ngModel [(ngModel)]="equipe.nom">
    </div>
    <div class="form-group">
      <label for="surnom">Team nickname</label>
      <input type="text" class="form-control" id="surnom"  name="surnom" ngModel [(ngModel)]="equipe.surnom">
    </div>
    <div class="form-group">
      <label for="confederation">Confederation</label>
      <input type="text" class="form-control" id="confederation"  name="confederation" ngModel [(ngModel)]="equipe.confederation">
    </div>
    <div class="form-group">
      <label for="couleurs">Team colors</label>
      <input type="text" class="form-control" id="couleurs"  name="couleurs" ngModel [(ngModel)]="equipe.couleurs">
    </div>
    <div class="form-group">
      <label for="stadeprincipal">Main stadium</label>
      <input type="text" class="form-control" id="stadeprincipal"  name="stadeprincipal" ngModel [(ngModel)]="equipe.stadeprincipal">
    </div>


  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <input type="submit" value="save" class="btn btn-primary" form="addStock" (click)="sendDataToParent(f.value)">
</div>
