
<div class="modal-body">
  <form #f="ngForm" id="addTeam" enctype="multipart/form-data">

    <div class="form-group">
      <label for="nom">Team name</label>
      <input type="text" class="form-control" id="nom"  name="nom"  ngModel [(ngModel)]="equipe.nom" required minlength="3" #nom="ngModel">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="nom.invalid && nom.touched" >
        <span *ngIf="nom.errors?.required">team name is required!</span>
        <span *ngIf="nom.errors?.minlength">team name must be at least 3 letters !</span>

      </div>
    </div>

    <div class="form-group">
      <label for="surnom">Team nickname</label>
      <input type="text" class="form-control" id="surnom"  name="surnom" ngModel [(ngModel)]="equipe.surnom" required minlength="3" #nom="ngModel">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="nom.invalid && nom.touched" >
        <span *ngIf="nom.errors?.required">team nickname is required!</span>
        <span *ngIf="nom.errors?.minlength">team nickname must be at least 3 letters !</span>
      </div>
    </div>
    <div class="form-group">
      <label for="confederation">Confederation</label>
      <input type="text" class="form-control" id="confederation"  name="confederation" ngModel [(ngModel)]="equipe.confederation" required minlength="3" #nom="ngModel">
    </div>
    <div class="form-group">
      <label for="couleurs">Team colors</label>
      <input type="text" class="form-control" id="couleurs"  name="couleurs" ngModel [(ngModel)]="equipe.couleurs">
    </div>
    <div class="form-group">
      <label for="stadeprincipal">Main stadium</label>
      <input type="text" class="form-control" id="stadeprincipal"  name="stadeprincipal" ngModel [(ngModel)]="equipe.stadeprincipal">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">homa jersey</label>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="image" id="exampleInputFile" (change)="onfile($event,1)">
          <label class="custom-file-label" for="exampleInputFile">Choose file</label>
        </div>

      </div>
      <img [src]="imgUrl" *ngIf="imgUrl" style="width:25rem; margin-top: 20px ">

    </div>

    <div class="form-group">
      <label for="exampleInputFile2">away jersey</label>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="image" id="exampleInputFile2" (change)="onfile($event,2)">
          <label class="custom-file-label" for="exampleInputFile">Choose file</label>
        </div>

      </div>
      <img [src]="imgUrl1" *ngIf="imgUrl1" style="width:25rem; margin-top: 20px ">

    </div>


  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <input type="submit" value="save" class="btn btn-primary" form="addTeam" (click)="sendDataToParent(f)" [disabled]="f.invalid" >
</div>
