<!-- Breadcrumbs Section Start -->
<div class="rs-breadcrumbs">
  <div class="breadcrumbs-wrap">
    <img src="./assets/images/breadcrumbs/inner11.jpg" alt="Breadcrumbs Image">
    <div class="breadcrumbs-inner vertical-middle">
      <div class="container">
        <div class="breadcrumbs-text">
          <h1 class="breadcrumbs-title margin-0">{{equipe.nom}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs Section End -->

<!-- Single Club Section Start -->
<div class="rs-single-club sec-bg md-pb-80">
  <div class="container">
    <div class="row pt-100 md-pt-80">
      <div class="col-lg-3 col-md-12 md-mb-30">
        <div class="club-logo text-center">
          <img src="./assets/images/team-logo/Logo_federation_tunisienne_de_football.png" alt="Arsenal">
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="club-details center-md mb-30">
          <ul class="team-info-list">
            <li>
              <strong>Former President</strong>
              <span>David Frunk</span>
            </li>
            <li>
              <strong>Manager Name</strong>
              <span>Steve Mark</span>
            </li>
            <li>
              <strong>Past Coach</strong>
              <span>Fiderel Starc</span>
            </li>
            <li>
              <strong>Current Coach</strong>
              <span>Alex Zampa</span>
            </li>
            <li>
              <strong>Location</strong>
              <span>England</span>
            </li>
          </ul>
        </div>
        <div class="rs-count center-md mb-100 md-mb-71">
          <div class="row">
            <div class="col-lg-3 col-6 md-mb-30">
              <div class="rs-counter-list">
                <h2 class="counter-number">1890</h2>
                <h4 class="counter-text">Established in</h4>
              </div>
            </div>
            <div class="col-lg-3 col-6 md-mb-30">
              <div class="rs-counter-list">
                <h2 class="counter-number">124</h2>
                <h4 class="counter-text">Champions</h4>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="rs-counter-list">
                <h2 class="counter-number">168</h2>
                <h4 class="counter-text">Current Players</h4>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="rs-counter-list">
                <h2 class="counter-number">82</h2>
                <h4 class="counter-text">Top Players</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rs-tab pb-90 md-pb-60">
      <div class="club-details_data">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#club-history">Club history</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#squad-list">Players</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#gallery">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#jersy">Jersy</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="club-history">
            <div class="about-club">
              <p><img class="alignright" src="images/about/club-details.jpg" alt="">
                L'équipe de Tunisie de football (arabe : منتخب تونس لكرة القدم) est l'équipe nationale qui représente
                la Tunisie dans le football international masculin, depuis qu'elle a disputé son premier match
                le 2 juin 1957 contre la Libye. Membre depuis 1960 de la FIFA au niveau international
                et de la Confédération africaine de football au niveau continental, ainsi que de l'UAFA depuis 1978
                et de l'UNAF depuis 2005, elle est supervisée par la Fédération tunisienne de football, fondée
                le 29 mars 1957, après l'indépendance de la Tunisie.</p>

            </div>
          </div>

          <div class="tab-pane fade" id="squad-list">
            <input type="submit" value="Add new player" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal" *ngIf="loggedIn">
            <div class="squad-list rs-team style3">
              <div class="row">

                <div *ngFor="let joueur of equipe.joueurs" class="col-xl-3 col-lg-4 col-md-6 lg-mb-30">
                <div class="single-team">
                  <div class="team-img">
                    <a href="#"><img src="./assets/images/team/1.jpg" alt=""></a>
                    <div class="team-social" >
                      <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                      <button class="btn bg-transparent" *ngIf="loggedIn"  ><i class="fa fa-edit"></i></button>
                    </div>
                  </div>
                  <div class="team-item-text">
                    <div class="team-details">
                      <h3 class="team-name">
                        <a [routerLink]="['/joueur',joueur.joueurid,idEquipe]">{{joueur.nom}}</a>
                      </h3>
                      <span class="team-title">{{joueur.poste}}</span>
                      <div class="jersy">{{joueur.nummaillot}}</div>
                    </div>

                  </div>
                </div>
                </div>

              </div>
            </div>
          </div>
          <div class="tab-pane" id="gallery">

            <input type="submit" value="Add new staff member" class="btn btn-primary mb-2" data-toggle="modal" data-target="#MembreStaffModal" *ngIf="loggedIn">
            <div class="club-gallery">
              <h2>Medias</h2>
              <div class="row">

                <div *ngFor="let member of equipe.membresStaff"
                     [ngClass]="member.categorie=='MEDIAS'? 'col-xl-3 col-lg-4 col-md-6 lg-mb-30':''">
                  <div *ngIf="member.categorie=='MEDIAS'">

                    <div class="squad-list-item">
                      <a href="team-single.html">
                        <img src="./assets/images/team/3.jpg" alt="">
                      </a>
                      <div class="name">
                        <a [routerLink]="['/membrestaff',member.membrestaffid,idEquipe]">{{member.nom}} {{member.prenom}}</a>
                      </div>
                      <div class="fonction">{{member.fonction.libelle}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <h2>Administration</h2>
              <div class="row">

                <div *ngFor="let member of equipe.membresStaff"
                     [ngClass]="member.categorie=='RESPONSABLE_ADMINISTRATIF'? 'col-xl-3 col-lg-4 col-md-6 lg-mb-30':''">

                  <div *ngIf="member.categorie=='RESPONSABLE_ADMINISTRATIF'">

                    <div class="squad-list-item">
                      <a href="team-single.html">
                        <img src="./assets/images/team/3.jpg" alt="">
                      </a>
                      <div class="name">
                        <a href="team-single.html">{{member.fonction.libelle}}</a>
                      </div>
                      <div class="position">Defender</div>
                      <div class="jersy">11</div>
                    </div>
                  </div>
                </div>

              </div>
              <h2>Medical staff</h2>
              <div class="row">

                <div *ngFor="let member of equipe.membresStaff"
                     [ngClass]="member.categorie=='STAFF_MEDICAL'? 'col-xl-3 col-lg-4 col-md-6 lg-mb-30':''">
                  <div *ngIf="member.categorie=='STAFF_MEDICAL'">

                    <div class="squad-list-item">
                      <a href="team-single.html">
                        <img src="./assets/images/team/3.jpg" alt="">
                      </a>
                      <div class="name">
                        <a href="team-single.html">{{member.fonction.libelle}}</a>
                      </div>
                      <div class="position">Defender</div>
                      <div class="jersy">11</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="jersy">
            <div class="club-jersy">
              <div class="row">

                <div class="col-lg-4 col-md-6 sm-mb-30">
                  <div class="champion-logo">
                    <!--image upload
                    <input type="file" formControlName="file" id="file"-->
                    <img  [src]="'data:image/png;base64,' + equipe.maillotdomicile" class="img-fluid">

                </div>
                  <div class="champion-details">
                    <div class="year-details">
                      <h3>Home Kit (2018-19)</h3>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="champion-logo">
                    <img  [src]="'data:image/png;base64,' + equipe.maillotexterieur" class="img-fluid">
                  </div>
                  <div class="champion-details">
                    <div class="year-details">
                      <h3>Away Kit (2018-19)</h3>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="club-videos pb-90 md-pb-70">
      <div class="title-style pb-50 md-pb-30">
        <h2 class="margin-0 uppercase">Club Videos</h2>
        <span class="line-bg y-b pt-10 left-line"></span>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 md-mb-30">
          <div class="video-wrap">
            <a class="popup-videos" href="https://www.youtube.com/watch?v=pH_G1f6KzfI">
              <img src="images/video-thumb/1.jpg" alt="">
              <i class="fa fa-play"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 md-mb-30">
          <div class="video-wrap">
            <a class="popup-videos" href="https://www.youtube.com/watch?v=1vNmYNH8d4I">
              <img src="images/video-thumb/2.jpg" alt="">
              <i class="fa fa-play"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="video-wrap">
            <a class="popup-videos" href="https://www.youtube.com/watch?v=jvrayw6wANg">
              <img src="images/video-thumb/3.jpg" alt="">
              <i class="fa fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="rs-blog pb-100 md-pb-80">
      <div class="title-style pb-50 md-pb-30">
        <h2 class="margin-0 uppercase">Club News</h2>
        <span class="line-bg y-b pt-10 left-line"></span>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 md-mb-30">
          <div class="blog-item ">
            <div class="blog-img">
              <div class="image-wrap">
                <a href="#"><img src="images/club-news/1.jpg" alt=""></a>
              </div>
              <div class="all-meta">
                <div class="meta meta-date">
                  <span class="month-day">20</span>
                  <span class="month-name">Jun</span>
                </div>
                <div class="meta meta-author">
                  <i class="flaticon-user-1"></i>
                  <span class="author">admin</span>
                </div>
              </div>
            </div>
            <div class="blog-content">
              <h4 class="blog-title">
                <a href="#">Ground Round Football Starts Right Here</a>
              </h4>
              <div class="blog-desc"> The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip,
                two-move lift. Each...
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 md-mb-30">
          <div class="blog-item ">
            <div class="blog-img">
              <div class="image-wrap">
                <a href="#"><img src="images/club-news/2.jpg" alt=""></a>
              </div>
              <div class="all-meta">
                <div class="meta meta-date">
                  <span class="month-day">20</span>
                  <span class="month-name">Jun</span>
                </div>
                <div class="meta meta-author">
                  <i class="flaticon-user-1"></i>
                  <span class="author">admin</span>
                </div>
              </div>
            </div>
            <div class="blog-content">
              <h4 class="blog-title">
                <a href="#">Everything In Soccer Starts The Premier League</a>
              </h4>
              <div class="blog-desc"> The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip,
                two-move lift. Each...
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="blog-item ">
            <div class="blog-img">
              <div class="image-wrap">
                <a href="#"><img src="images/club-news/3.jpg" alt=""></a>
              </div>
              <div class="all-meta">
                <div class="meta meta-date">
                  <span class="month-day">20</span>
                  <span class="month-name">Jun</span>
                </div>
                <div class="meta meta-author">
                  <i class="flaticon-user-1"></i>
                  <span class="author">admin</span>
                </div>
              </div>
            </div>
            <div class="blog-content">
              <h4 class="blog-title">
                <a href="#">Latest Point Table Stats For The Premier League</a>
              </h4>
              <div class="blog-desc"> The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip,
                two-move lift. Each...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Subscribe Section Start -->
    <div class="rs-subscribe bg7 md-margin-0">
      <form class="subscribe-form">
        <div class="row rs-vertical-middle">
          <div class="col-lg-6 col-md-12 md-mb-30">
            <div class="title-part">
              <h2 class="title white-color"> Subscribe Our Newsletter</h2>
              <p class="desc margin-0 white-color"> Subscribe to our newsletter for getting regular updates.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="subscribe-form-fields">
              <input type="submit" class="news-submit" value="Subscribe">
              <input type="email" class="news-email" name="EMAIL" placeholder="EMAIL ADDRESS" required="">
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Subscribe Section End -->
  </div>
</div>
<!-- Single Club Section End -->

<!--addjoueurform-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new player</h5>
        <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <app-edit-joueur  (notif)="addJoueur($event)"></app-edit-joueur>

    </div>
  </div>
</div>
<!--addjoueurform-->

<!--addstaffform-->
<div class="modal fade" id="MembreStaffModal" tabindex="-1" role="dialog" aria-labelledby="MembreStaffModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MembreStaffModalLabel">Add new staff member</h5>
        <button type="button" id="closing" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <app-edit-membreStaff  (notif)="addMembreStaff($event)"></app-edit-membreStaff>

    </div>
  </div>
</div>
<!--addstaffform-->
